h1 {
  color: blueviolet;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
.weather-app {
  margin: 30px auto;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather {
  margin: 30px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: blue;
  font-size: 64px;
  font-weight: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
form {
  margin: 20px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature.axtive:hover {
  text-decoration: none;
}
.link {
  position: relative;
  right: -200px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
